@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul[class], ul, ol[class], ol, li, figure, figcaption, blockquote, dl, dd {
  font-size: 1rem;
}

ul, ol {
  list-style-type: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class], ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* end reset */
@font-face {
  font-family: "Shrikhand";
  src: url("../../public/font/shrikhand/Shrikhand-Regular.eot");
  src: url("../../public/font/shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../../public/font/shrikhand/Shrikhand-Regular.woff") format("woff"), url("../../public/font/shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("../../public/font/roboto/roboto_regular/roboto-regular-webfont.eot");
  src: url("../../public/font/roboto/roboto_regular/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/font/roboto/roboto_regular/roboto-regular-webfont.woff2") format("woff2"), url("../../public/font/roboto/roboto_regular/roboto-regular-webfont.woff") format("woff"), url("../../public/font/roboto/roboto_regular/roboto-regular-webfont.svg#roboto-regular-webfont") format("svg");
  font-weight: normal;
}
@keyframes like {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dish_anim {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes dish_choice {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75px);
  }
}
@keyframes dish_rotate {
  100% {
    transform: rotate(360deg);
  }
}
:root {
  font-size: 15px;
}

body {
  font-family: "roboto", sans-serif;
}

main {
  opacity: 0;
  animation: showContent 250ms 3000ms 1 forwards;
}

header {
  margin: 1.5rem 0 0.8rem 0;
}
header img {
  margin: auto;
  width: 44%;
}
@media screen and (min-width: 700px) {
  header img {
    width: 30%;
  }
}
@media screen and (min-width: 900px) {
  header img {
    width: 25%;
  }
}
@media screen and (min-width: 1300px) {
  header img {
    width: 20%;
  }
}

.search {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .search {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "explo work" "desc desc";
    margin: 0 3rem;
  }
}
@media screen and (min-width: 1300px) {
  .search {
    grid-template-columns: 70% 30%;
  }
}

.exploration {
  grid-area: explo;
}
.exploration_map {
  display: none;
}
@media screen and (min-width: 900px) {
  .exploration_map {
    display: block;
    background-color: #f6f6f6;
  }
  .exploration_map iframe {
    width: 100%;
    height: 450px;
    border: none;
  }
}
.exploration_location {
  color: #353535;
  background-color: #eaeaea;
  text-align: center;
  font-weight: 600;
  border-top: 1px solid #cecece;
  padding: 1rem 2rem 1rem 0;
}
.exploration_location::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 1rem;
}

.desc {
  background-color: #f6f6f6;
  padding: 2.6rem;
  grid-area: desc;
}
.desc_title {
  padding: 0 0.8rem;
  font-weight: 800;
  font-size: 1.55rem;
  line-height: 1.7rem;
}
.desc_text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.15rem;
}
.desc_btn {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 600ms;
  margin: 1rem;
}
.desc_btn:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}

.working {
  margin: 3.2rem 1.3rem 4.2rem 1.3rem;
  grid-area: work;
}
@media screen and (min-width: 900px) {
  .working {
    margin: 0;
    background-color: #eaeaea;
  }
}
.working_title {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 900px) {
  .working_title {
    background-color: #f6f6f6;
    border-top: 1px solid #cecece;
    padding: 0.6rem;
    text-align: center;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .working ol {
    margin: 1rem;
  }
  .working ol li {
    margin-bottom: 2rem;
  }
}
.working_item {
  font-weight: bold;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 1.8rem 0.9rem;
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 600ms;
}
.working_item i {
  margin-right: 1.7rem;
  font-size: 1.3rem;
}
.working_item:hover {
  background-color: rgba(147, 86, 220, 0.2);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}
.working_item:hover i {
  color: #9356dc;
}
.working_first::before {
  content: "1";
  position: relative;
  right: 1.5rem;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem 0.25rem 0.5rem;
}
.working_second::before {
  content: "2";
  position: relative;
  right: 1.5rem;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem 0.25rem 0.5rem;
}
.working_third::before {
  content: "3";
  position: relative;
  right: 1.5rem;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem 0.25rem 0.5rem;
}

.card {
  position: relative;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 600ms;
}
.card:hover {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}

.restaurant {
  background-color: #f2f2f2;
  margin-top: 2rem;
  padding: 2rem 1.3rem 3.5rem 1.3rem;
}
.restaurant h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1.6rem 0 1.3rem 0;
  grid-area: title;
}
.restaurant img {
  border-radius: 20px 20px 0 0;
  height: 11.5rem;
  width: 100%;
  object-fit: cover;
}
.restaurant_desc {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  grid-template-areas: "name like" "place like";
}
.restaurant_desc .fas {
  color: transparent;
  opacity: 0;
}
.restaurant_desc .fas::before {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurant_desc .fas:hover {
  animation: like 400ms forwards;
}
.restaurant_desc i {
  cursor: pointer;
  grid-area: like;
  justify-self: end;
  align-self: center;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}
.restaurant_name {
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-area: name;
}
.restaurant_place {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  grid-area: place;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant_first {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1.1rem;
  grid-area: card1;
}
.restaurant_first::after {
  display: block;
  content: "Nouveau";
  background: #99e2d0;
  position: absolute;
  top: 8%;
  right: 8%;
  padding: 0.5rem;
}
.restaurant_second {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1.1rem;
  grid-area: card2;
}
.restaurant_second::after {
  display: block;
  content: "Nouveau";
  background: #99e2d0;
  position: absolute;
  top: 8%;
  right: 8%;
  padding: 0.5rem;
}
.restaurant_third {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1.1rem;
  grid-area: card3;
}
.restaurant_fourth {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1.1rem;
  grid-area: card4;
}

@media screen and (min-width: 700px) {
  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title ." "card1 card2" "card3 card4";
    grid-column-gap: 1rem;
  }
}
@media screen and (min-width: 900px) {
  .restaurant {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "title . . ." "card1 card2 card3 card4";
  }
  .restaurant img {
    height: 10rem;
  }
}
@media screen and (min-width: 1300px) {
  .restaurant img {
    height: 13rem;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding: 1.4rem;
}
footer h1 {
  font-family: "Shrikhand", monospace;
}
footer li {
  line-height: 2rem;
}
footer li:nth-child(1) i {
  margin-right: 1rem;
  font-size: 0.8rem;
}
footer li:nth-child(2) i {
  font-size: 0.6rem;
  margin-right: 0.91rem;
}
@media screen and (min-width: 700px) {
  footer {
    display: flex;
  }
  footer h1 {
    font-size: 3em;
  }
  footer ul {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    grid-column-gap: 15vw;
    grid-row-gap: 1rem;
  }
}

.menu_header {
  margin: 0 auto 1rem auto;
}
.menu_header i {
  position: relative;
  top: 1.5rem;
  left: 2rem;
}
@media screen and (min-width: 700px) {
  .menu_header i {
    font-size: 2rem;
    top: 3.2rem;
    left: 5rem;
  }
}

.menu_picture img {
  object-fit: cover;
  height: 16rem;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .menu_picture img {
    height: 20rem;
  }
}

.bloc_page-menu {
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -50px;
}
@media screen and (min-width: 900px) {
  .bloc_page-menu {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1300px) {
  .bloc_page-menu {
    margin: 0 5rem;
  }
}
.bloc_page-menu h1 {
  display: grid;
  grid-template-areas: "title like";
  font-family: "shrikhand";
  font-size: 1.6rem;
  padding: 1.1rem;
  grid-area: title;
}
.bloc_page-menu h1 .fas {
  color: transparent;
  opacity: 0;
}
.bloc_page-menu h1 .fas::before {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}
.bloc_page-menu h1 .fas:hover {
  animation: like 400ms forwards;
}
.bloc_page-menu h1 i {
  cursor: pointer;
  grid-area: like;
  justify-self: end;
  align-self: center;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

h2 {
  text-transform: uppercase;
  font-weight: normal;
}

.line {
  width: 2.8rem;
  height: 0.2rem;
  background-color: #99e2d0;
  margin-bottom: 1rem;
}

.dish {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 0.8rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
}
.dish_text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish h3 {
  font-weight: bold;
}
.dish p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish_price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.dish_select {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: -0.8rem -5.2rem -0.8rem 1rem;
  padding: 1rem 1.4rem;
  border-radius: 0 20px 20px 0;
  color: #fff;
  transition-duration: 0.5s;
}
.dish:hover .dish_select {
  margin-right: -1rem;
}
.dish:hover .dish_select i {
  animation: dish_rotate 0.5s;
}

.menu-btn {
  display: flex;
  margin: 2rem auto;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 600ms;
}
.menu-btn:hover {
  opacity: 0.7;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}

.dish1, .dish2, .dish3, .dish4 {
  position: relative;
  opacity: 0;
  animation: dish_anim 2000ms 1 forwards;
}

.dish2 {
  animation-delay: 400ms;
}

.dish3 {
  animation-delay: 800ms;
}

.dish4 {
  animation-delay: 1200ms;
}

.menu_footer {
  margin-top: -50px;
}

@media screen and (min-width: 900px) {
  .container-menu {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    column-gap: 1rem;
    max-width: 100%;
  }

  .dish {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dish_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
#loaderContainer {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hideLoader 250ms 3000ms normal forwards;
  pointer-events: none;
}

.loader_purple,
.loader_pink,
.loader_green {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loading 2000ms backwards infinite ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), scale(1);
}

.loader_pink,
.loader_green {
  content: "";
  display: block;
}

.loader_purple {
  background-color: #9356DC;
}

.loader_pink {
  background-color: #FF79DA;
  animation-delay: 400ms;
}

.loader_green {
  background-color: #99E2D0;
  animation-delay: 800ms;
}

/*# sourceMappingURL=style.css.map */
