#loaderContainer {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hideLoader 250ms 3000ms normal forwards;
  pointer-events: none;
  
  
}

.loader_purple,
.loader_pink,
.loader_green {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loading 2000ms backwards infinite ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), scale(1);
}

.loader_pink,
.loader_green {
  content: '';
  display: block;
}

.loader_purple {
  background-color: #9356DC;
}
.loader_pink {
  background-color: #FF79DA;
  animation-delay: 400ms;
}
.loader_green {
  background-color: #99E2D0;
  animation-delay: 800ms;
}

