//header
.menu_header {
    margin: 0 auto 1rem auto;
    i {
        position: relative;
        top: 1.5rem;
        left: 2rem;
    }

}

//img
.menu_picture {
    position: relative;
    h1 {
        display: grid;
        grid-template-areas:
            "title like" ;
        font-family: 'shrikhand';
        font-size: 1.3rem;
        position: absolute;
        bottom: 0rem;/*sans ca le text est soit trop haut soit trop bas*/
        background-color: #f6f6f6;
        border-radius: 30px 30px 0 0;
        padding: 1rem ;
        width: 100%;
        grid-area: title;
        @include like;
    }

}
//bloc_page

.bloc_page-menu {
    background-color: #f6f6f6;
    padding: 1rem;
}

//plat
h2 {
    text-transform: uppercase;
    font-weight: normal;
}
.line {
    width: 2.8rem;
    height: 0.2rem;
    background-color: $cd-tertiary;
    margin-bottom: 1rem;
}
.dish {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
    display: grid;
    grid-template: 1.5rem 1.5rem / 70% 30% 50px;
    grid-template-areas: 
        "name . select"
        "comp price select";
    overflow: hidden;
    white-space: nowrap;
    //text-overflow: ellipsis;
    
    &_name {
        grid-area: name;
        font-weight: bold;
    }
    &_comp {
        display: inline-block;
        grid-area: comp;
    }
    &_price {
        position: relative;
        grid-area: price;
        justify-self: end;
        font-weight: bold;
        //transform: translateX(40px);
    }
    &_select {
        grid-area: select;
        justify-self: center;
        align-self: center;
        background-color: $cd-tertiary;
        font-size: 1.5rem;
        margin: -0.5rem -0.5rem -0.5rem 1.5rem;
        padding: 1rem 1.4rem;
        border-radius: 0 20px 20px 0;
        color: #fff;
        transform: translateX(0), rotate(0);
    }
    &:hover {
        .dish_select, .dish_price{
            animation: dish_choice 1s both;
            i {
                animation: dish_rotate 1s both;
            }    
        }
        
    }
}

.menu-btn {
    display: flex;
    background: $cd-btn-exploration;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 2rem;
    margin: 2rem auto;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        transition: opacity 800ms;
    }
}

//anim au chargement de la page

.dish1, .dish2, .dish3 {
    position: relative;
    opacity: 0;
    animation: dish_anim 2000ms 1 forwards;
}
.dish2 {
    animation-delay: 400ms;
}
.dish3 {
    animation-delay: 800ms;
}



