@keyframes like {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  75% {
      transform: scale(1.5);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
 //animation loader
@keyframes loading {
  0% {
    width: 0px;
    height: 0px;
  }
  60% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
  
@keyframes hideLoader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes showContent {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes footer {
  0% {
    transform: translateY(-1500px);
  }
  100% {
    transform: translateY(0);
  }
}
//animation plats
@keyframes dish_anim {
  0% {
      opacity: 0;
      top: 20px;
  }
  100% {
      opacity: 1;
      top: 0;
  }
}
@keyframes dish_choice {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-75px);
  }
}

@keyframes dish_rotate {
  0% {

  }
  100% {
    transform: rotate(360deg);
  }
}
  