@mixin like {
    .fas {
        color: transparent;
        opacity: 0;
        &::before {
            background: linear-gradient(0deg,#9356dc,#ff79da);
            background-clip: text;
            -webkit-background-clip: text;
        }
        &:hover {
            animation: like 400ms forwards;
        }
    }
    i {
        cursor: pointer;
        grid-area: like;
        justify-self: end;
        align-self: center;
        font-size: 1.8rem;
        margin-right: 1.5rem;

    } 
}