@mixin like {
    .fas {
        color: transparent;
        opacity: 0;
        &::before {
            background: linear-gradient(0deg,#9356dc,#ff79da);
            background-clip: text;
            -webkit-background-clip: text;
        }
        &:hover {
            animation: like 400ms forwards;
        }
    }
    i {
        cursor: pointer;
        grid-area: like;
        justify-self: end;
        align-self: center;
        font-size: 1.8rem;
        margin-right: 1.5rem;

    } 
}

@mixin new {
    &::after {
        display: block;
        content: 'Nouveau';
        background: $cd-tertiary;
        position: absolute;
        top: 8%;
        left: 70%;
        padding: 0.5rem;
        @include laptop-bp {
            left: 80%;
        }
    }
    
}

@mixin tablet-bp {
    @media screen and (min-width:765px){
        @content
    }
};

@mixin laptop-bp {
    @media screen and (min-width:1020px){
        @content
    }
};

@mixin desktop-bp {
    @media screen and (min-width:1400px){
        @content
    }
}