$cd-primary: #9356dc;

$cd-secondary: #ff79da;

$cd-tertiary: #99e2d0;
$cd-btn-exploration: linear-gradient(to bottom right, $cd-secondary, $cd-primary);
$cd-like: linear-gradient( $cd-secondary, $cd-primary);