footer {
    background-color: #353535;
    color: white;
    padding: 1.4rem;
    h1 {
        font-family: 'Shrikhand' , monospace;
    }
    li {
        line-height: 2rem;
    }
    li:nth-child(1) i {
        margin-right: 1rem;
        font-size: 0.8rem;
    }
    li:nth-child(2) i {
        font-size: 0.6rem;
        margin-right: 0.91rem;
    }
    @include tablet-bp {
        display: flex;
        h1 {
            font-size: 3em;
        }
        ul {
            margin: auto;
        }
    }
}