header {
    margin: 1.5rem 0 0.8rem 0;
    img {
    margin: auto;
    width: 44%;
    @include tablet-bp {
        width: 30%;
    }
    @include laptop-bp {
        width: 25%;
    }
    @include desktop-bp {
        width: 20%;
    }
    }
}